// blue btn
$btn-color: #111B47;
$btn-bgcolor: #505F98;
$btn-p: 4px 0;
$btn-w: 160px;
$btn-text-col: white;

// Logo
$logo-weight: bold;
$logo-color: #37447E;

// Text
$text-color: #505F98;

// none
$none: none;